* {
    box-sizing: border-box;
}

body {    
    background: rgb(245, 245, 255);
    margin: 0;
    height: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: rgb(94, 75, 139);
    font-size: 75px;
    letter-spacing: 5px;
}

.card {
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    margin-top: 0;
}

.login-btn {
    margin-top: 20px;
    text-align: center;
}

#signup-btn{
    text-align: center;
}