* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {    
    background: rgb(245, 245, 255);
    margin: 0;
    height: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: rgb(94, 75, 139);
    font-size: 75px;
    letter-spacing: 5px;
    
}

.card {
    padding-top: 65px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 550px;
    align-items: center
}


.input-group {
    background-color: #fff;
    display: block;
    /* font-size: 15px; */
    color: #666666;
    /* padding: 0 25px 0 25px; */
    /* margin: 20px; */
    width: 100%;
    border: none;
    align-items: center;
    height: 35px;
}

.input-group input{
    /* padding: 10px; */
    font-size: 20px;
    height: 50px;
}


h3 {
    margin-top: 0;
    display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 33px;
}

.login-btn {
    margin-top: 20px;
    text-align: center;
    width: 300px;
}

#signup-btn{
    text-align: center;
}