* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {    
    margin: 0;
    height: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}


.card {
    padding-top: 10px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    align-items: center
}


.input-group {
    background-color: #fff;
    display: block;
    /* font-size: 15px; */
    color: #666666;
    padding: 20px;
    /* margin: 20px; */
    width: 100%;
    border: 1px solid #e6e6e6;
    align-items: center;
    height: 55px;
}


/* h3 {
    margin-top: 0;
    display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 33px;
} */

.login-btn {
    margin-top: 20px;
    text-align: center;
    width: 300px;
    height: 45px;
}

.signup-btn{
    text-align: center;
    width: 300px;
    height: 45px;
}