.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 10px;

}

.col-xl-6 h3 {
    padding: 10px 0px;
    text-align: center;
}

.signup-card {
    padding: 55px 60px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    align-items: center;
}

form {

    margin: 15px 0px;
    
}

.signup-btn{
    margin-top: 25px;
}