.col-xl-6 img{
    margin-top: 100px;
}

p {
    text-align: center;
}

.col-xl-6 h3{
    padding: 10px 0px;
    text-align: center;
}

.card{
    margin: 35px 40px;
}

form {
    margin: 15px 0px;
}

.signup-btn{
    margin-top: 25px;
}